@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
  margin: 0%;
  padding: 0%;
  font-family: 'Poppins', sans-serif;
}

.roboto-font{
  font-family: 'Roboto', sans-serif;
}

.custom-tabs .active{
  color: rgb(255, 179, 47) !important;
  border: none !important;
  fill: rgb(255, 179, 47) !important;
}


.title{
  font-size: 13px;
  width: max-content;
}

.nav-tabs{
  border-bottom: none !important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
  border: none !important;
}
.nav-tabs .nav-link{
  border: none !important;
  color: #000 ;
}
.nav-tabs .nav-link:hover{
  color: rgb(255, 179, 47) ;
}

.vaccine-tab{
  display: grid;
  display: grid !important;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 15px;
  grid-row-gap: 20px;
}

.vaccine-tab .btn{
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
  padding: 10px 15px;
  width: 100%;
  font-size: 13px;
  display: flex;
  border-radius: 10px;
}
.vaccine-tab .btn:hover{
  background-color: rgb(255, 179, 47);
  border: 1px solid rgb(255, 179, 47);
}

.btn-active{
  background-color: rgb(255, 179, 47) !important;
  color: #000;
  border: 1px solid rgb(255, 179, 47) !important;
  padding: 10px 15px;
  width: 100%;
  font-size: 13px;
  display: flex;
  border-radius: 10px;
}

.font-sm{
  font-size: 12px;
}